.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-image: url(https://img.freepik.com/free-vector/christmas-pattern-background-cute-winter-doodle-cream-color-vector_53876-156547.jpg);
  margin: 0px;	
  z-index: -1;
}
p{
  color: white;
  font-family: 'lobster';
  font-size: 150%;
  position: absolute;
  left: 50%;
  tmargin: 10px 0px;
  top: 0px;
  transform: translateX(-50%);
}
		
#container, #shell{
	width: 11rem;
    height: 25rem;
	display: flex;
  justify-content:center;
	position: relative;
	z-index: 10;
	margin: 50px 0px;

}
#container{
	width: 100%;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  box-shadow: 5px 10px #888888;}
#shell{
	left: 50%;
	perspective: 1400px;
	transition: all .5s ease;
  -webkit-transition: all .5s ease;		
}
.box{
  width:100%;
  height: 100%;  
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -webkit-backface-visibility: visible;
  transform-origin: left;
  transform-style: preserve-3D;
  position: absolute;
  top:0px; 
  left: 0px;
}
div#box1{
  background: url(https://alabin.ru/upload/iblock/3dd/3dd9c7113619eb26a53f9d944860e073.jpg);
  background-size: 100% 100%;	
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-backface-visibility: hidden;
  z-index: 10;
}

div#box1_back{
  background: url(https://player.vimeo.com/external/370331493.sd.mp4?s=e90dcaba73c19e0e36f03406b47bbd6992dd6c1c&profile_id=139&oauth2_token_id=57447761);
  background-color:#fff;
  transform: rotate3d(0, 1, 0, 0deg);
  z-index: 0;
  box-shadow: 5px 10px #888888;
}
.video__container {
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}
div#box2{
  background: #9FA;	
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-backface-visibility: visible;
  z-index: -1;
}
h1{
  font-family: 'Satisfy', cursive;
  font-size: 200%;
  color: #DD3388;
  margin:0px;
  position: relative;
  top: 70%;
  display: -webkit-box;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
h6{
	font-family: 'lobster', cursive;
	font-size: 150%;
	color: #DD3388;
	margin:0px;
	position: relative;
	display: -webkit-box;
	width: 100%;
	text-align: center;
	-webkit-box-pack: center;
	font-weight: 200;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}	
