
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,130;1,120&display=swap');
*
{
 font-family: "Roboto", serif ;
}
body{
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1062-pattern-15c_1-ktvc6bvl.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=040730df7a06e34c8397495d9b13499b);
  margin: 0px;	
  padding:0px;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
.App{
  margin: 0px;	
  padding:0px;
  display: flex;
  justify-content: center;
  align-items: center;
margin:50px 0px;
}
p{
  color: white;
  font-size: 150%;
  position: absolute;
  left: 50%;
  margin: 10px 0px;
  top: 0px;
  transform: translateX(-50%);
}

#container, #shell{
	width: 400px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	z-index: 10;

}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
	width: 100%;
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  box-shadow: 5px 10px #888888;}
#shell{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  left: 50%;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transform: translateX(-50%);	
}
@media screen and (max-width: 1050px){
  #container, #shell{
    width: 350px;
      height: 450px;
  
  }
  
}
@media screen and (max-width: 980px){
  #container, #shell{
    width: 320px;
      height: 450px;
  
  }
}
@media screen and (max-width: 850px){
  #container, #shell{
    width: 300px;
      height: 450px;
  
  }
}
@media screen and (max-width: 800px){
  #container, #shell{
    width: 300px;
      height: 450px;
  
  }

  
}
@media screen and (max-width: 700px){
  #container, #shell{
    width: 280px;
      height: 450px;
  
  }
	h2{
    font-size: 20px;
    color: #1a1a1a;
    position: relative;
    width: 100%;
    padding-right:5px;
    padding-left:5px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
  }	
  
}
@media screen and (max-width: 690px){
  #container, #shell{
    width: 270px;
      height: 450px;
  
  }
}
@media screen and (max-width: 580px){
  #container, #shell{
    width: 250px;
      height: 450px;
  
  }
}
@media screen and (max-width: 580px){
  #container, #shell{
    width: 230px;
      height: 450px;
  
  }
}
@media screen and (max-width: 500px){
  #container, #shell{
    width: 180px;
      height: 450px;
  
  }
}
@media screen and (max-width: 400px){
  #container, #shell{
    width: 170px;
      height: 350px;
  
  }
}
@media screen and (max-width: 370px){
  #container, #shell{
    width: 160px;
      height: 350px;
  
  }
}
@media screen and (max-width: 300px){
  #container, #shell{
    width: 130px;
      height: 280px;
  
  }
}
.box{
  width:100%;
  height: 100%;  
  transition: all 1.5s ease;
  -webkit-transition: all 1.5s ease;
  -webkit-backface-visibility: visible;
  transform-origin: left;
  transform-style: preserve-3D;
  position: absolute;
  top:0px; 
  left: 0px;
}
div#box1{
  background: url(https://alabin.ru/upload/iblock/3dd/3dd9c7113619eb26a53f9d944860e073.jpg);
  background-size: 100% 100%;	
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-backface-visibility: hidden;
  z-index: 10;
}.moving-image {
  animation: moveGIF 5s linear infinite;
}

 
.gif-background {
  background-image: url('https://i.giphy.com/BDucPOizdZ5AI.webp');
  /* Add other styles such as width, height, position, etc. */
}
div#box1_back{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:#fff;
  transform: rotate3d(0, 1, 0, 0deg);
  z-index: 0;
  box-shadow: 5px 10px #888888;
}
.video__container {
  background-image: url(https://i.giphy.com/BDucPOizdZ5AI.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}
div#box2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F4F4F3;	
  transform: rotate3d(0, 1, 0, 0deg);
  -webkit-backface-visibility: visible;
  z-index: -1;
}
h1{
  font-size: 350%;
  color: #f2f2f2;
  margin:0px;
  position: relative;
  top: 70%;
  font-weight: 120;
  width: 100%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
h2{
	font-size: 180%;
	color: #1a1a1a;
	position: relative;
	width: 100%;
  padding-right:5px;
  padding-left:5px;
  font-weight: normal;
	cursor: pointer;
}	
